
// 本文件自动生成，请勿手动修改，如需修改请去./index.js和./themeColorPlugin.js文件中处理
// 主题色
$themeColor: #409EFF;
/*
  主题色同色色系，序号0是当前颜色 1是当前色的rgb写法 2-12是浅色越大颜色越浅 13-14是比主题色更深的两种颜色
  切换主题色时，同色系颜色也会被对应的切换
*/
$themeColor-0: #409EFF;
$themeColor-1: rgb(64,158,255);
$themeColor-2: #409eff;
$themeColor-3: #53a8ff;
$themeColor-4: #66b1ff;
$themeColor-5: #79bbff;
$themeColor-6: #8cc5ff;
$themeColor-7: #a0cfff;
$themeColor-8: #b3d8ff;
$themeColor-9: #c6e2ff;
$themeColor-10: #d9ecff;
$themeColor-11: #ecf5ff;
$themeColor-12: #f5faff;
$themeColor-13: #3a8ee6;
$themeColor-14: #337ecc;
