.layout1-aside {
  position: relative;
  z-index: 10;
  width: 100% !important;
  height: 100%;
  background-color: $themeColor;
  transition: width 0.28s;
  .sidebar-logo-container {
    .sidebar-logo-link {
      display: flex;
      align-items: center;
      .sidebar-title {
        display: inline-block;
        line-height: 18px;
        flex: 1;

        @include nowrap(3);
      }
    }
  }
}

.layout1-navbar {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-right: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .navbar-left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .hamburger-container {
    height: 100%;
    line-height: 60px;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .right-menu .menu-item {
    color: #303133 !important;
    background: #fff !important;
    &:hover {
      background: rgba(0, 0, 0, 0.025) !important;
    }
  }
}

//布局
.layout1 {
  .app-container {
    //background: blue;
    position: relative;
    width: 100%;
    height: 100%;
    background: #F0F2F5;
    .app-aside {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: $sideBarWidth;
      height: 100%;
      //background: yellow;
      background: $themeColor;
      box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      transition: width 0.28s;

      // 侧边栏滚动条
      .el-scrollbar {
        height: 100%;
      }
      .el-scrollbar__bar {
        z-index: 10;
      }
      .el-scrollbar__bar.is-vertical {
        right: 0;
      }
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
    }
    .app-main {
      position: relative;
      height: 100%;
      margin-left: $sideBarWidth;
      overflow-y: auto;
      transition: margin-left 0.28s;
      //z-index: 2;
      .app-header-in {
        //background: green;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 60px;
      }
      .app-main-in {
        position: relative;
        height: calc(100% - 60px);
        margin-top: 60px;
        background: #F0F2F5;
      }
    }
  }

  .fixedHeader {
    .app-main-in {
      overflow-y: auto;
    }
  }
  .hideSidebar {
    .app-aside {
      width: 54px !important;
    }
    .app-main {
      margin-left: 54px !important;
    }
  }
  .needTagsView {
    .app-header-in {
      height: 94px !important;
      .layout1-navbar {
        height: 60px;
      }
    }
    .app-main-in {
      height: calc(100% - 94px) !important;
      margin-top: 94px !important;
    }
  }
  //.mobile {
  //  .app-main {
  //    margin-left: 0 !important;
  //    .app-header-in {
  //      left: 0 !important;
  //    }
  //  }
  //
  //  .app-aside {
  //    position: fixed;
  //    top: 0;
  //    left: 0;
  //    bottom: 0;
  //    z-index: 100;
  //    transition: left .28s !important;
  //    width: $sideBarWidth !important;
  //  }
  //  &.hideSidebar {
  //    .app-aside {
  //      left: -$sideBarWidth;
  //    }
  //  }
  //}
  .withoutAnimation {
    .app-main {
      transition: none !important;
    }
    .app-aside {
      transition: none !important;
    }
  }
}

//layout1 菜单颜色样式
.layout1 .el-menu {
  background-color: $themeColor;
  .el-menu-item,
  .el-submenu__title {
    color: rgba(255, 255, 255, 0.7);
    background-color: $themeColor;
    .el-submenu__icon-arrow {
      color: rgba(255, 255, 255, 0.5);
    }
    &:hover,
    &:focus {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.1);
      .el-submenu__icon-arrow {
        color: #fff;
      }
    }
    &.is-active {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .is-active .el-submenu__title {
    color: #fff;
    .el-submenu__icon-arrow {
      color: #fff;
    }
  }
}
