.layout1-aside{
  transition: width 0.28s;
  width: 100% !important;
  height: 100%;
  background-color: $themeColor;
  position: relative;
  z-index: 10;
  .sidebar-logo-container{
    .sidebar-logo-link{
      display: flex;
      align-items: center;
      .sidebar-title {
        display: inline-block;
        line-height: 18px;
        flex: 1;
        @include nowrap(3);
      }
    }
  }
}

.layout1-navbar {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-left{
    display: flex;
    height: 100%;
    align-items: center;
  }
  .hamburger-container {
    line-height: 60px;
    height: 100%;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .right-menu .menu-item{
    background: #fff !important;
    color: #303133 !important;
    &:hover{
      background: rgba(0,0,0,.025) !important;
    }
  }
}

//布局
.layout1{
  .app-container{
    height: 100%;
    width: 100%;
    background: #F0F2F5;
    //background: blue;
    position: relative;
    .app-aside{
      width: $sideBarWidth;
      height: 100%;
      //background: yellow;
      background: $themeColor;
      box-shadow: 2px 0 6px rgba(0,21,41,.35);
      transition: width .28s;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 3;

      // 侧边栏滚动条
      .el-scrollbar{
        height: 100%;
      }
      .el-scrollbar__bar{
        z-index: 10;
      }
      .el-scrollbar__bar.is-vertical{
        right: 0;
      }
      .scrollbar-wrapper {
        overflow-x: hidden!important;
      }

    }
    .app-main{
      margin-left: $sideBarWidth;
      transition: margin-left .28s;
      height: 100%;
      position: relative;
      overflow-y: auto;
      //z-index: 2;
      .app-header-in{
        height: 60px;
        //background: green;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }
      .app-main-in{
        margin-top: 60px;
        height: calc(100% - 60px);
        background: #F0F2F5;
        position: relative;
      }
    }
  }

  .fixedHeader{
    .app-main-in{
      overflow-y: auto;
    }
  }
  .hideSidebar {
    .app-aside {
      width: 54px !important;
    }
    .app-main {
      margin-left: 54px !important;
    }
  }
  .needTagsView{
    .app-header-in{
      height: 94px  !important;
      .layout1-navbar{
        height: 60px;
      }
    }
    .app-main-in{
      margin-top: 94px !important;
      height: calc(100% - 94px) !important;
    }
  }
  //.mobile {
  //  .app-main {
  //    margin-left: 0 !important;
  //    .app-header-in {
  //      left: 0 !important;
  //    }
  //  }
  //
  //  .app-aside {
  //    position: fixed;
  //    top: 0;
  //    left: 0;
  //    bottom: 0;
  //    z-index: 100;
  //    transition: left .28s !important;
  //    width: $sideBarWidth !important;
  //  }
  //  &.hideSidebar {
  //    .app-aside {
  //      left: -$sideBarWidth;
  //    }
  //  }
  //}
  .withoutAnimation{
    .app-main {
      transition: none !important;
    }
    .app-aside {
      transition: none !important;
    }
  }
}

//layout1 菜单颜色样式
.layout1 .el-menu{
  background-color: $themeColor;
  .el-menu-item,.el-submenu__title{
    color: rgba(255,255,255,.7);
    background-color: $themeColor;
    .el-submenu__icon-arrow{
      color: rgba(255,255,255,.5);
    }
    &:hover,&:focus{
      background-color: rgba(0,0,0,.1);
      color: #fff;
      .el-submenu__icon-arrow{
        color: #fff;
      }
    }
    &.is-active{
      background-color: rgba(0,0,0,.2);
      color: #fff;
    }
  }
  .is-active .el-submenu__title{
    color: #fff;
    .el-submenu__icon-arrow{
      color: #fff;
    }
  }
}
