@import './transition.scss';
@import './element-ui.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  min-width: 768px;
  min-height: 600px;
}

ul,li,dl,dt,dd{
	list-style: none;
}

ul,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-page {
  margin: 6px 8px;
  padding: 10px 10px 0 10px;
  height: calc(100% - 12px);
  background: #fff;
}


//公共菜单样式
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }
}
.el-menu--horizontal .el-menu--popup {
	.el-menu-item {
		padding: 0;
		&>a{
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 0 10px;
		}
	}
}
